<%- include('partials/header')%>

<div class="auth">
  <div class="container">
    <div class="auth__inner">
      <div class="auth__media">
        <img src="/images/undraw_authentication.svg">
      </div>
      <div class="auth__auth">
        <h1 class="auth__title">Acesse sua conta</h1>
        <p>Entre para editar suas fotos com designers profissionais. </p>
        <form method='post' action="/admin/dash" autocompelete="new-password" role="presentation" class="form">
          <input name="email" class="fakefield">
          <label>Email</label>
          <input type="text" name="username" id='email' placeholder="voce@exemplo.com">
          <label>Password</label>
          <input type="password" name="password" id='password'
            placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="off">
          <button type='submit' class="button button__accent">Entrar</button>
          <a href="">
            <h6 class="left-align">Esqueceu sua senha?</h6>
          </a>
        </form>
      </div>
    </div>
  </div>
</div>






<%- include('partials/footer')%>