<%- include('partials/header')%>

<div class="hero">
  <div class="hero__overlay hero__overlay--gradient"></div>
  <div class="hero__mask"></div>
  <div class="hero__inner">
    <div class="container">
      <div class="hero__content">
        <div class="" id='navConverter'>
          <div class="auth">
            <div class="auth__inner">
              <div class=" step__media hero__content__inner">
                <img class="home" src="./images/undraw_feed.svg">
                <img class="home" src="./images/undraw_influencer.svg">
                <p class="text__white textHome">O Ediph é uma plataforma, onde <strong>editores profissionais</strong>
                  irão
                  personalizar sua fotografia <strong>gratuitamente</strong>. &nbsp; A partir de hoje, o feed da sua rede social
                  favorita fica <strong>bem-feito</strong>.</p>
              </div>
              <div id="register" class="auth__auth hero__content__inner">

                <h1 class="title__white">Registre-se</h1>
                <p class="text__white">Registre e começe a enviar suas fotos para designers profissionais.
                </p>
                <p class="text__danger"><%= messages%></p>
                <form action="/" method="POST" class="form" autocompelete="new-password" role="presentation">

                  <div>
                    <label class="text__white" for="emailInput">E-mail: </label>
                    <input class="fakefield" id="emailInput" name="username" type="email" aria-describedby="emailHelp"
                      placeholder="nome@exemplo.com" required>
                  </div>

                  <div>
                    <label class="text__white" for="userInput">Nome: </label>
                    <input id="userInput" name="nome" type="text" placeholder="Seu nome" required>
                  </div>

                  <div>
                    <label class="text__white" for="passInput">Senha: </label>
                    <input id="passInput" name="password" type="password"
                      placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="off"
                      required>
                  </div>

                  <button type="submit" class="button hero__button">Cadastre-se</button>
                  <p>Já tem uma conta? <a class="button button__accent" href="/login">Conecte-se</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero__sub">
  <span id="scrollToNext" class="scroll">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512"
      style="enable-background:new 0 0 512 512;" xml:space="preserve">
      <path
        d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z" />
    </svg>
  </span>
</div>
<!-- Steps -->
<div class="steps landing__section">
  <div class="container">
    <h2>Como funciona o Ediph?</h2>
    <p>Aqui temos diversos designers gráficos, deixando suas imagens profissionais. E tudo
      <strong>gratuitamente</strong></p>
  </div>
  <div class="container">
    <div class="steps__inner">
      <div class="step">
        <div class="step__media">
          <img src="./images/undraw_upload.svg" class="step__image">
        </div>
        <h4>Selecione</h4>
        <p class="step__text">Após o registro, você só precisa selecionar a imagem para nós editarmos.</p>
      </div>
      <div class="step">
        <div class="step__media">
          <img src="./images/undraw_modify.svg" class="step__image">
        </div>
        <h4>Descreva</h4>
        <p class="step__text">Escreva tudo que mais te incomoda na imagem e como imagina o resultado final.</p>
      </div>
      <div class="step">
        <div class="step__media">
          <img src="./images/undraw_time.svg" class="step__image">
        </div>
        <h4>Aguarde</h4>
        <p class="step__text">Por fim, é só esperar. Um profissional irá fazer toda edição. Isso só leva 15 minutos.</p>
      </div>
    </div>
  </div>
</div>
<!-- Expanded sections -->
<div class="expanded landing__section">
  <div class="container">
    <div class="expanded__inner">
      <div class="expanded__media">
        <img src="./images/undraw_tolls.svg" class="expanded__image">
      </div>
      <div class="expanded__content">
        <h2 class="expanded__title">Criação para empresas</h2>
        <p class="expanded__text">Nosso time também cria materiais gráficos para companhias. O processo é o mesmo,
          selecione o tipo de material, faça uma descrição detalhada e espere alguns minutos até ficar tudo pronto.</p>
      </div>
    </div>
  </div>
</div>
<div class="expanded landing__section">
  <div class="container">
    <div class="expanded__inner">
      <div class="expanded__media">
        <img src="./images/car1.jpg" class="expanded__image carrousel right">
        <img src="./images/car2.jpg" class="expanded__image carrousel right">
        <img src="./images/car3.jpg" class="expanded__image carrousel right">
        <img src="./images/car4.jpg" class="expanded__image carrousel right">
        <img src="./images/car5.jpg" class="expanded__image carrousel right">
        <img src="./images/car6.jpg" class="expanded__image carrousel right">
      </div>
      <div class="expanded__content">
        <h2 class="expanded__title"> Veja alguns conteúdos editados por nós</h2>
        <p class="expanded__text">Pedimos autorização para mostrar o trabalho que nosso time produziu ou modificou. Você
          pode pedir a edição da forma que quiser, nossos editores irão fazer o possível para realizar o pedido de forma
          precisa.</p>
      </div>
    </div>
  </div>
</div>
<div class="expanded landing__section">
  <div class="container">
    <div class="expanded__inner">
      <div class="expanded__media">
        <img src="./images/undraw_credit.svg" class="expanded__image">
      </div>
      <div class="expanded__content">
        <h2 class="expanded__title">Por que tudo é gratuito ?</h2>
        <p class="expanded__text">As primeiras edições de imagens que não são de uso corporativo são gratuitas. Há um
          pequeno limite de edições que você pode pedir por dia, mas não é nada exagerado. Já materiais gráficos para
          uso
          empresarial possuem um custo. Pois, queremos entregar resultados e pra isso o material precisa ficar perfeito.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Call To Action -->
<div class="cta cta--reverse">
  <div class="container">
    <div class="cta__inner">
      <h2 class="cta__title">Começe usar nossa plataforma.</h2>
      <p class="cta__sub cta__sub--center">Registre-se para saber mais e começar a usar nossa plataforma.</p>
      <a href="/#register" class="button button__accent">Registrar</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  var carrosel = function () { //Carrosel
    var car = document.querySelectorAll('.carrousel');

    car[parseInt(Math.random() * car.length)].style.display = 'block';

    setInterval(function () {
      for (var i = 0; i < car.length; i++) {
        car[i].style.display = 'none';
      }

      var num = Math.random() * car.length;
      car[parseInt(num)].style.display = 'block';

    }, 3000);
  };

  var homeImage = function () { //Home image

    var home = document.querySelectorAll('.home')
    var textHome = document.querySelector('.textHome')

    for (var i = 0; i < home.length; i++) {
      home[i].style.display = 'none';
    }

    var num = Math.random() * home.length;
    home[parseInt(num)].style.display = 'block';

    if (home[0].style.display == 'block') {
      textHome.innerHTML = 'Nossa plataforma reune diversos designers profissionais para editar suas fotos. <strong>Sem custo algum.</strong>'
    }
  }

  carrosel();
  homeImage();
</script>

<%- include('partials/footer')%>